<header>
	<div id="header">
		<div id="top">		
			<div class="span-6 colborder" >
				Гейзер
			</div>
			<div class="span-16 last">
			
				<ul class="alt">
					Обратная связь с клиентами – это основа и будущее успешного бизнеса
				</ul>
				<div class="clearer">&nbsp;</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>
		<div class="nav">
		
			<%= render 'layouts/menu'%>
			

			


			<div class="clearer">&nbsp;</div>

		</div>

	</div>
</header>
