
<ul class="span-24 last">
				<li ><strong><%= link_to 'Клиенты', clients_path %></strong></li>
				<li ><strong><%= link_to 'Очистительные системы', systems_path %></strong></li>			
				<li ><strong><%= link_to 'Фильтры', filters_path %></strong></li>
				<li ><strong><%= link_to 'Сообщения', messages_path %></strong></li>
</ul>
 
